.left-image {
    width: 180px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.ingredients{
   width: 400px;
   float: left;
}

.clear {
   clear: both;
}